<!DOCTYPE html>
<html lang="en">
<head>
<title>School Essentials | About</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="../js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="../js/cufon-yui.js"></script>
<script type="text/javascript" src="../js/cufon-replace.js"></script>
<script type="text/javascript" src="../js/Molengo_400.font.js"></script>
<script type="text/javascript" src="../js/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("../js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page4">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
             <li><a href="desk.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="pricing.php">Pricing</a></li>
            <li><a href="clientzone.php">ClientZone</a></li>
            <li class="end"><a href="contacts.html">Contacts</a></li>
          </ul>
        </nav>
        <ul id="icons">
          <li><a href="#"><img src="../images/icons1.jpg" alt=""></a></li>
          <li><a href="#"><img src="../images/icons2.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <h1><a href="desk.html" id="logo">Learn Center</a></h1>
      </div>
      <div id="slogan">About the Author<span></span> </div>
    </header>
    <!-- / header -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Zipho Matsoso</h2>
            </div>
            <div class="wrapper pad_bot2">
              <figure class="left marg_right1"><img src="../images/page4_img1.jpg" alt=""></figure>
              <p class="pad_top2"><strong>Zipho</strong>'s background is, in a word, <strong>"eclectic"</strong>.<br/><br/>
His success in Computer Sciences (Skills of which are all self-taught, till recently where he needed to acquire some credentials for some complience issues) came after a successful career as a Para-Legal Assistant and a Financial Investment Advisor with Old Mutual SA.<br/><br/> 
Zipho established Computer Software Solutions (Now Galaxy Computers) in August of 1998, as a Programmer and Technical Support Rep.<br/>
He was performing a dual duty as Manager of Technical Support and Manager of Internal and External System Programming.<br/> As the Manager of Technical support, he oversaw the phone support of products, as well as performed the duties of Systems Operator on the CIS Galaxy Computers Forum.<br/> In the area of Internal and External Systems Programming, he was responsible for maintaining operating programs and developing new systems used by South African Institutions, which were all developed using Clarion products for applications and SQL; Access and Top-speed as back-end databases.<br/><br/> 
Zipho further established another company in September of 2002 - <strong>"MATSOSO INFORMATION TECHNOLOGY SOLUTIONS"</strong>   (Matsoso IT Solutions). His new company catered for the Technological needs of schools in a revolutionary, proactive and innovative approach.<br/><br/>
In June 2005, Zipho wrote his first Book - <strong>"Computer Applications Today"</strong>, this book is a hands-on introduction to a personal computer, and is a useful learning tool for South African Learners and Educators.<br/><br/>

<strong>QUALIFICATIONS</strong><br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	BORDERLESS NETWORK SOLUTIONS<br/>
-	CCENT (Cisco Certified Entry Network Technician)<br/>
-	CCNA (Cisco Certified Network Associate)<br/><br/>	
<img src="../files/tick.jpg" alt="" width="16" height="16" />	MANAGED SERVICES<br/>
-	ITIL® Foundation v3 (IT Infrustructure Library Management)<br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	PROJECT MANAGEMENT<br/>
-	CompTIA Project + Certified<br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	SYSTEMS ENGINEERING<br/>
-	MCSE 2003 (Microsoft Certified Systems Engineer) <br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	TELEPHONY SYSTEMS<br/>
-	CIC Configuration and Administration (SIP) [Interactive Intelligence]<br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	WEB DEVELOPMENT<br/>
-	PHP / MySQL <br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	MATRICULATION<br/>
-	Full Exemption [Buhlebuzile Secondary School]<br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	CURRENT<br/>
-	BCom Informatics [UNISA]<br/><br/>

</p>
            </div>
            </article>
    </section>
    <!-- content -->
    <!-- footer -->
    <footer>
      <div class="wrapper">
        <div class="pad1">
          <div class="pad_left1">
            <div class="wrapper">
            </div>
            <div class="wrapper">
              <article class="col_4 pad_left2">Copyright &copy; <a href="#">SchoolEssentials.co.za</a> All Rights Reserved<br>
                </article>
             </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<div align=center>This website was Created by <a href="#">Zipho Matsoso</a></div></body>
</html>