<!DOCTYPE html>
<html lang="en">
<head>
<title>School Essentials</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="../js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="../js/cufon-yui.js"></script>
<script type="text/javascript" src="../js/cufon-replace.js"></script>
<script type="text/javascript" src="../js/Molengo_400.font.js"></script>
<script type="text/javascript" src="../js/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("../js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
            <li><a href="desk.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="pricing.php">Pricing</a></li>
            <li><a href="clientzone.php">ClientZone</a></li>
            <li class="end"><a href="contacts.html">Contacts</a></li>
          </ul>
        </nav>
        <ul id="icon">
          <li><a href="#"><img src="../images/icon1.jpg" alt=""></a></li>
          <li><a href="#"><img src="../images/icon2.jpg" alt=""></a></li>
          <li><a href="#"><img src="../images/icon3.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <h1><a href="desk.html" id="logo">School Essentials</a></h1>
      </div>
      <div id="slogan"> Technology and solutions<span>behind serious schools!</span> </div>
      <ul class="banners">
     	 <li><a href="#"><img src="../images/ess2.png" alt=""></a></li>
         <li><a href="#"><img src="../images/ess3.png" alt=""></a></li>
      </ul>
    </header>
    <!-- / header -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="wrapper">
        <div class="pad1 pad_top1">
          <article class="cols marg_right1">
            <figure><a href="mission.html"><img src="../images/page1_img1.jpg" alt=""></a></figure>
            <span class="font1">Our Mission Statement</span> </article>
          <article class="cols marg_right1">
            <figure><a href="vision.html"><img src="../images/page1_img2.jpg" alt=""></a></figure>
            <span class="font1">Our Vision</span> </article>
          <article class="cols">
            <figure><a href="tt.html"><img src="../images/page1_img3.jpg" alt=""></a></figure>
            <span class="font1">Legacy timetables</span> </article>
        </div>
      </div>
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2>Welcome to School Essentials</h2>
              <p class="font2">School Supplies, Innovative Products, Passionate People, Great Value and ZERO Risk.</p>
              <p><strong>School Essentials website</strong> is optimized for 1024X768 screen resolution. It’s also XHTML &amp; CSS valid. <br/></p>
            </div>
            <div class="pad_left1">
              <h2>Individual Approach to Education!</h2>
            </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="../images/man.png" width="360" height="483"></figure>
              <p class="pad_bot1 pad_top2">
The basic principle of the individual approach is respecting learners. This means not making discrimination according to the race, nationality, sex, religion, political belief, respecting learners’ socioeconomic status, differences in their personalities, learning habits etc. School Esssentials is trying to develop a high degree of attention to individual differences and needs of learners. School Esssentials is small and has basic rules for learner behaviour and academic performance. Learners are aware that they can contact their tutor throughout the day, they are offered individual consultations, they are often told that educators believe in their ability to learn. There is no comparison between unsuccessful and successful learners, all the problems are fluently discussed with educators and learners, teachers and the tutor try to help underachievers, educators use active learning strategies.
 </p>
                        </div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>SNEAK PIC the next generation of timetabling</h2>
            </div>
            <ul class="list1">
              <li><a href="tt1.html">Smart Timetable</a></li>
              <li><a href="tt2.html">Educator Timetable</a></li>
              <li><a href="tt3.html">Learner/Class Timetable</a></li>
              <li><a href="tt4.html">Attendance Register</a></li>
              <li><a href="tt5.html">Homework Register</a></li>
            </ul>
                        <div class="pad_left1">
              <h2>whats hot?</h2>
            </div>
            <div class="wrapper"> <span class="date">27</span>
              <p class="pad_top2"><a href="mobi.html">SmartTIMETABLE</a><br>
                Access your timetable anytime anywhere from your smart device...</p>
            </div>
           <div class="wrapper"> <span class="date">16</span>
              <p class="pad_top2"><a href="guardian.html">Guardian Angel</a><br>
              	Mark register with your smart device...<br>
                Alert parent by sms if learner is late/absent for school...<br>
                Print learner attendance / homework per learning area...
                </p>
            </div>
            <div class="wrapper"> <span class="date">23</span>
              <p class="pad_top2"><a href="braille.html">BrailleTimetable</a><br>
                Deciphering the code...</p>
            </div>

                 

                   </article>
        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
    <footer>
      <div class="wrapper">
        <div class="pad1">
          <div class="pad_left1">
            <div class="wrapper">
            </div>
            <div class="wrapper">
              <article class="col_4 pad_left2">Copyright &copy; <a href="#">SchoolEssentials.co.za</a> All Rights Reserved<br>
                </article>
             </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<div align=center>This website was Created by <a href="about.html">Zipho Matsoso</a></div></body>
</html>