<!DOCTYPE html>
<html lang="en">
<head>
<title>School Essentials | School Timetabling</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="../js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="../js/cufon-yui.js"></script>
<script type="text/javascript" src="../js/cufon-replace.js"></script>
<script type="text/javascript" src="../js/Molengo_400.font.js"></script>
<script type="text/javascript" src="../js/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("../js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page4">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
          <li><a href="desk.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="pricing.php">Pricing</a></li>
            <li><a href="clientzone.php">ClientZone</a></li>
            <li class="end"><a href="contacts.html">Contacts</a></li>
          </ul>
        </nav>
        <ul id="icons">
          <li><a href="#"><img src="../images/icons1.jpg" alt=""></a></li>
          <li><a href="#"><img src="../images/icons2.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <h1><a href="desk.html" id="logo">Learn Center</a></h1>
      </div>
      <div id="slogan">School Timetabling<span></span> </div>
    </header>
    <!-- / header -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">timetabling service</h2>
            </div>
            <div class="wrapper pad_bot2">
              <h1>we only offer timetabling as a service...</h1>
               <p class="pad_top2"><br/>
              <div class="pad_top2"> <a href="tt_samples.php" class="button" target="_blank"><span><span>View timetable samples</span></span></a> </div>
                <br/>
              </p>
              <p class="pad_top2"><br/>
                <br/>
              </p>
              <div id="c9397">
                <div>
                  <div>
                    <p><strong>Just send us your subject/educator allocation via fax, email or simply upload to our site and will will do the rest for you...

 </strong><br>
                    </p>
                    <div>
                      <div id="wrap">
                      <div id="content2">
                        <h2>extended possibilities</h2>
                        <p>Once   the timetable is created you have many possibilities to display it. You will have the following timetables: </p>
                        <p>EDUCATOR WORKLOAD OVERVIEW <br/>
                        <br/>	
COMPOSITE TIMETABLE<br/><br/>
COMPOSITE TIMETABLE by EDUCATORS<br/>
<br/>
COMPOSITE TIMETABLE by LEARNING AREAS</p>
                        <p>COMPOSITE TIMETABLE by GRADE</p>
                        <p>COMPOSITE TIMETABLE by PHASE<br/>
                        <br/>
CLASS TIMETABLE<br/><br/>
EDUCATOR TIMETABLE<br/><br/>
RELIEF TIMETABLE<br/>
                        </p>
                        <hr>
                          <h2>Cover plannning</h2>
                          <p>Which   educator is available for a substitution, if an educator falls ill? Which   educators have free time if a group is out for an excursion? The cover   planning module solves these questions. Of course you have the   statistical overview of all substitutions held.</p>
                          <hr>
                        <h2>Support</h2>
                          <p><img src="../images/MaPa2.jpg" width="240" height="159">Timetables   are often quite challenging! Thus it is important being able to ask   experts in case of any questions - e.g. inconsistencies in your data.   School Essentials has a broad network of engineers who will help you anytime!</p>
                        </div>
                      </div>
                      <p><br>
                        
                        <br>
                        Go to <a href="pricing.php">pricing</a> to order this product...
   <br>
                      </p>
                    </div>
</div></div></div><div id="c9398">
              </div>
              <p class="pad_top2"><br/>
                <br/>
              </p>
               </div>
          </article>
    </section>
    <!-- content -->
    <!-- footer -->
    <footer>
      <div class="wrapper">
        <div class="pad1">
          <div class="pad_left1">
            <div class="wrapper">
            </div>
            <div class="wrapper">
              <article class="col_4 pad_left2">Copyright &copy; <a href="#">SchoolEssentials.co.za</a> All Rights Reserved<br>
                </article>
             </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<div align=center>This website is Created by <a href="about.html">Zipho Matsoso</a></div></body>
</html>