<!DOCTYPE html>
<html lang="en">
<head>
<title>School Essentials | Vision</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="../js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="../js/cufon-yui.js"></script>
<script type="text/javascript" src="../js/cufon-replace.js"></script>
<script type="text/javascript" src="../js/Molengo_400.font.js"></script>
<script type="text/javascript" src="../js/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("../js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page4">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
            <li><a href="desk.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="pricing.php">Pricing</a></li>
            <li><a href="clientzone.php">ClientZone</a></li>
            <li class="end"><a href="contacts.html">Contacts</a></li>
           </ul>
        </nav>
        <ul id="icons">
          <li><a href="#"><img src="../images/icons1.jpg" alt=""></a></li>
          <li><a href="#"><img src="../images/icons2.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <h1><a href="desk.html" id="logo">Learn Center</a></h1>
      </div>
      <div id="slogan">Vision Statement<span></span> </div>
    </header>
    <!-- / header -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Our Vision is</h2>
            </div>
            <div class="wrapper pad_bot2">
             <p class="pad_top2">
<img src="../files/tick.jpg" alt="" width="16" height="16" />	To enrich our Clients by providing best value technological solutions<br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	To enrich our employees by making them part of the winning team<br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	A commitment to growing and developing South Africa<br/><br/>

<strong>The values underpinning Our Vision are:</strong><br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	Integrity<br/>
-	In all our actions<br/><br/>

<img src="../files/tick.jpg" alt="" width="16" height="16" />	Growth<br/>
-	For our employees<br/>
-	For our Clients<br/>
-	For South Africa<br/><br/>

<img src="../files/tick.jpg" alt="" width="16" height="16" />	Commitment<br/>
-	To our Clients<br/>
-	To our communities<br/>
-	To each other<br/><br/>

<img src="../files/tick.jpg" alt="" width="16" height="16" />	Passion<br/>
-	For results<br/>
-	For excellent Clients service<br/><br/>

<strong>About South Africa</strong><br/><br/>
<img src="../files/tick.jpg" alt="" width="16" height="16" />	We Believe<br/>
-	That we are as healthy as the country in which we operate, and that we have the role to play in ensuring its growth and sustainable development<br/><br/>
-	In playing a leadership role through leading corporate citizenship practices, namely:<br/>
o	A commitment to growing and investing in our communities<br/>
o	Socially responsible business activities<br/>
o	Leading edge workplace practices<br/>
o	Sustainable social investment projects<br/>
o	Active involvement of our people in social and community affairs<br/><br/>

-	That our business activities, in their very nature, make a significant contribution to the well-being of our communities
<br/>

</p>
            </div>
            </article>
    </section>
    <!-- content -->
    <footer>
      <div class="wrapper">
        <div class="pad1">
          <div class="pad_left1">
            <div class="wrapper">
            </div>
            <div class="wrapper">
              <article class="col_4 pad_left2">Copyright &copy; <a href="#">SchoolEssentials.co.za</a> All Rights Reserved<br>
                </article>
             </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<div align=center>This website was Created by <a href="about.html">Zipho Matsoso</a></div></body>
</html>